<nav *ngIf='showNavbarComp' id="navbar-component" class="navbar navbar-default navbar-fixed-top" style="height:75px;padding:0px;margin:0px;z-index:0">
  <div class="container navbar-custom">
    <div class="navbar-custom-brand">
      <img href="#" src="../../assets/logo.png" class="navbar-custom-image">
    </div>
    <div class="navbar-icon">
      <div *ngIf="authService.loggedIn()" (click)="openNotificationModal()" style="float:left;width:68px;height:36px;display: flex;align-items: center;justify-content: center;cursor: pointer;">
        <a>
          <i id="notification-icon" class="fas fa-globe-africa" style="font-size:170%;margin-top:6px"></i>
        </a>
        <div id="count-notification-icon" style="background-color:red;font-weight: 600;font-size: 12px;color: white;border-radius: 7px;margin-top: -13px;margin-left: -6px">
          {{numberOfUnreadNotifications}}
        </div>
      </div>
      <div style="float:left;width:68px;height:36px;display: flex;align-items: center;justify-content: center;cursor: pointer;">
        <a (click)="onClickNavigateToHome()">
          <i class="fas fa-home" style="font-size:170%;margin-top:6px"></i>
        </a>
      </div>
      <div style="float:left;width:68px;height:36px;display: flex;align-items: center;justify-content: center;cursor: pointer;">
        <a routerLink="/contacts" routerLinkActive="active">
          <i class="fas fa-users" style="font-size:185%;margin-top:6px"></i>
        </a>
      </div>

      <div style="float:left;width:68px;height:36px;display: flex;align-items: center;justify-content: center;cursor:pointer">
        <a routerLink="/profile" routerLinkActive="active">
          <i class="fas fa-user-circle" style="font-size:170%;margin-top:6px"></i>
        </a>
      </div>
    </div>


  </div>
</nav>
<!-- <div class="container" style="position:relative;cursor:pointer;" *ngIf="openNotification" (clickOutside)="closeNotification($event)">
  <div class="notification" style="margin-top:84px">
    <div class="notification-body" id='notification-body' (scroll)="onScrolNotificationPopover()">
      <div *ngFor="let notification of notifications" (click)="onClickNotification(notification)" class="notification-body-each">
        <div class="notification-profilephoto">
          <img src={{notification.fromUser.profileImage}} style="width:40px;border-radius: 50%">
        </div>
        <div class="notification-content" [style.font-weight]="notification.isSeen ? '' : '600'">
          {{notification.content}}
        </div>
      </div>
      <div *ngIf='!loadNotificationComplete' id='loader-notification' class="loader-notification">
        <img style="height:25px" src='../../../assets/loader-notification.gif'>
      </div>
    </div>
  </div>
</div> -->

<div (clickOutside)="closeNotificationPopover($event)" class="container" style="position:relative;cursor:pointer;"
  *ngIf="openNotification" (clickOutside)="closeNotification($event)">
  <div class="notification" style="margin-top:84px">
    <div class="notification-body" id='notification-body' (scroll)="onScrolNotificationPopover()">
      <div *ngFor="let notification of notifications" (click)="onClickNotification(notification)" class="notification-body-each">
        <div class="notification-profilephoto">
          <img src={{notification.profileImage}} style="width:40px;border-radius: 50%">
        </div>
        <div class="notification-content">
          <div style="width:100%;height:25px;font-weight: 600">
            @{{notification.username}}
          </div>
          <div style="width:100%;height:25px">
            <div *ngIf="notification.type === 'incomming-message'" style="font-weight: 400;text-overflow: ellipsis;overflow: hidden;white-space: nowrap">
              <div [style.font-weight]="notification.seen ? '' : '600'">
                Tin nhắn mới: {{notification.content}}
              </div>

            </div>
            <div *ngIf="notification.type === 'friend-request'" style="font-weight: 400;text-overflow: ellipsis;overflow: hidden;white-space: nowrap">
              <div [style.font-weight]="notification.seen ? '' : '600'">
                Lời mời kết bạn: {{notification.content}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf='loadingNotifications' id='loader-notification' class="loader-notification">
        <img style="height:25px" src='../../../assets/loading.gif'>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showAcceptFriendModal" id="accept-friend-modal" class="custom-modal">
  <div class="custom-modal-content" style="height: 130px">
    <div style="background-color: #e7e7e7;border-bottom:1px solid;border-color:#e7e7e7;padding-top:0px;display: flex;align-content: center;width: 100%;height: 57px">
      <div style="margin-left:10px;margin-top:14px;font-size: 20px">
        Lời mời kết bạn từ @{{friendRequestInfo.fromUserUsername}}
      </div>
    </div>
    <div class="modal-options-content">
      <div style="width:100%;font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
        line-height: 1.50;font-size: 17px;font-weight: 500;text-align: center;padding: 10px;display: flex;justify-content: center;align-items: center">
        <div style="width:50%;height:100%;float: left;display: flex;justify-content: center;align-items: center">
          <button (click)="acceptFriend()" class="btn btn-primary">Chấp nhận</button>
        </div>
        <div style="width:50%;height:100%;float: left;display: flex;justify-content: center;align-items: center">
          <button class="btn btn-danger">Bỏ qua</button>
        </div>
      </div>
    </div>
    <!-- <div style="width:100%;height: 61px;border-top:1px solid;border-color:#e7e7e7;">
      <button (click)="deleteRoomchat()" type="button" class="btn btn-info" style="float:right;width:80px;height: 40px;margin:10px">
        OK
      </button>
      <button (click)="onClickCancelDeleteRoomchatModal()" type="button" class="btn btn-danger" style="float:right;width:80px;height: 40px;margin:10px;margin-right:10px">
        Hủy
      </button>
    </div> -->
  </div>
</div>
