.my-message-content {
  float: right;
  max-width: 50%;
  border: solid transparent;
  background-color: #0084ff;
  border-radius: 14px;
  height: 100%;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif
}

.my-message-profileimage {
  float: right;
  width: 10px;
  height: 50px;
}

.other-message-content {
  float: left;
  max-width: 50%;
  border: solid transparent;
  background-color: #f1f0f0;
  border-radius: 14px;
  height: 100%;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif
}

.other-message-profileimage {
  float: left;
  width: 40px;
  height: 50px;
}

.username-message {
  border: none;
  background-color: transparent;
  border-radius: 0px;
  width: 100%;
  float: left;
  height: 20px;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  line-height: 1.28;
  font-size: 13px;
  color: rgba(0, 0, 0, .40)
}

.message-options {
  float: right;
  width: 40px;
  height: 30px;
  display: none;
  cursor: pointer;
}

#my-message:hover .message-options{
  display: block
}

.custom-modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* overflow: auto; */
}

.custom-modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 5%;
  border: 1px solid #888;
  width: 35%;
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  line-height: 1.28;
  font-size: 17px;
  font-weight: 500
    /* Could be more or less, depending on screen size */
}

.delete-message-locally {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  width: 100%
}

.unread-modal-options {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  width: 100%
}

.modal-options-body {
  height: 100px;
  width: 100%;
  cursor: pointer;
}

.modal-options-body :hover {
  background-color: #e7e7e7
}

.modal-options-content{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.delete-message-permanently{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  width: 100%
}
