.roomchat-component{
    width: 25%;
    float: left;
    border-style: solid;
    border-color: #e7e7e7;
    border-width: thin;
    border-left: none;
}

.conversation-component{
    width: 75%;
    float: left;
}

