<app-navbar></app-navbar>
<router-outlet>
  <template ngbModalContainer></template>
</router-outlet>

<div *ngIf="showCallAccept" id="call-accept-modal" class="custom-modal">
  <div class="custom-modal-content" style="height: 190px">
    <div style="background-color: #e7e7e7;border-bottom:1px solid;border-color:#e7e7e7;padding-top:0px;display: flex;align-content: center;width: 100%;height: 57px">
      <div style="margin-left:10px;margin-top:14px;font-size: 20px">
        {{callUsername}} đang gọi bạn !
      </div>
    </div>
    <div class="modal-options-content">
      <div style="font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
        line-height: 1.50;font-size: 17px;font-weight: 500;text-align: center;padding: 10px;margin-top:5px;display: flex;justify-content: center;align-items: center">
        <button (click)="acceptCall()" type="button" class="btn btn-info" style="float:left;width:80px;height: 40px;margin:10px">
          Đồng ý
        </button>
        <button (click)="rejectCall()" type="button" class="btn btn-danger" style="float:left;width:80px;height: 40px;margin:10px;margin-right:10px">
          Từ chối
        </button>
      </div>
    </div>
    <div style="width:100%;height: 61px;border-top:1px solid;border-color:#e7e7e7;">
    </div>
  </div>
</div>
