<div class="container">
    <div style="margin-top:74px">
        <div class="contact-header">
          <div class="contact-header-setting">
            <i class="fas fa-cog" style="font-size:30px;margin-top:8px"></i>
          </div>
          <div class="contact-header-label" id="contact-header-label">
            <div style="margin-top: 10px">Thông tin cá nhân</div>
          </div>
          <div id="contact-header-next" class="contact-header-next" style="display: none;">
            <i class="fas fa-chevron-right" style="font-size:30px;margin-top:8px"></i>
          </div>
        </div>
    
    </div>
    <!-- <div class="container">
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
          <ul class="list-group">
            <li class="list-group-item">Name: </li>
            <li class="list-group-item">Username:</li>
            <li class="list-group-item">Email: </li>
            <li class="list-group-item">Type of account</li>
          </ul>
        </div>
  </div> -->
  <table class ="table table-hover table-responsive">
      <tbody>
        <tr>
            <div style="width:100%;height:70px;border-bottom: solid thin #e7e7e7;">
                  <div style="width:70%;font-size:20px;height:100%;margin-left:20px;float: left;display: flex;align-items: center">
                    username
                  </div>
            </div>
        </tr>
        <tr>
            <div style="width:100%;height:70px;border-bottom: solid thin #e7e7e7;">
                  <div style="width:70%;font-size:20px;height:100%;margin-left:20px;float: left;display: flex;align-items: center">
                    email
                  </div>
            </div>
        </tr>
        <tr>
            <div style="width:100%;height:70px;border-bottom: solid thin #e7e7e7;">
                  <div style="width:70%;font-size:20px;height:100%;margin-left:20px;float: left;display: flex;align-items: center">
                    SDT
                  </div>
            </div>
        </tr>
        <tr>
            <div style="width:100%;height:70px;border-bottom: solid thin #e7e7e7;">
                  <div style="width:70%;font-size:20px;height:100%;margin-left:20px;float: left;display: flex;align-items: center">
                    lds
                  </div>
            </div>
        </tr>
      </tbody>
  </table>
</div>




